@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &--empty {
        display: none;
    }

    &__btn {
        padding: 1.4rem;
        border-radius: 50%;
        width: 4.4rem;
        height: 4.4rem;
        margin-right: 1rem;
        font-weight: $fw-bold;

        &:last-child {
            margin-right: 0;
        }
    }
}
