@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.input {
    outline: none;
    padding: 1rem 1.5rem;
    border: .1rem solid $grey-clr;
    border-radius: .5rem;
    transition: border-color 200ms ease;

    &:focus {
        border-color: $primary-clr;
    }
} 