.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;

    &--default {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(black, .7);
        padding: 5rem;
    }
}