@import '../../styles/variables.scss';

.auth {
    position: relative;
    z-index: 3;
    display: flex;
    height: 100%;

    &__form {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 50rem;
        width: 100%;
    }

    &__title {
        text-align: center;
        color: $primary-clr;
        margin-bottom: 1.5rem;
    }

    &__input {
        margin-bottom: 1.5rem;
    }

    &__switch-btn {
        margin-top: 1.5rem;
        background-color: transparent;
        color: $primary-clr;
        align-self: center;
        transition: color 200ms ease;
    
        &:hover {
            color: darken($primary-clr, 5%);
        }
    }
}