.main-layout {
    &__main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &-wrapper {
            display: flex;
            flex-grow: 1;
        }
    }

    &__products {

        &-wrapper {
            padding: 2rem;
        }

        &-pagination {
            margin-top: 2rem;
        }
    }
}