//fonts
$fz-default: 1.6rem;
$fz-title: 2.2rem;
$fw-normal: 500;
$fw-bold: 700;
$ff-common: 'Mulish', sans-serif;

//colors
$primary-clr: #bb1616;
$light-clr: #fff;
$dark-clr: #111;
$grey-clr: rgb(194, 194, 194);

//shadow 
$primary-sh: 0 .4rem .9rem $dark-clr;
