@import '../../styles/variables.scss';

.main-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
        position: relative;
        box-shadow: $primary-sh;
    }
}